<h2 class="page-header">Painel</h2>
<div class="container">
  <ul class="nav nav-tabs">
    <li><a href="#calendar" data-toggle="tab" aria-expanded="false">Calendário</a></li>
    <li><a href="#notes" data-toggle="tab" aria-expanded="false">Bloco de notas</a></li>
    <li><a href="#tasks" data-toggle="tab" aria-expanded="false">Tarefas</a></li>
  </ul>
  <div id="myTabContent" class="tab-content">
    <div class="tab-pane fade" id="calendar">
      <iframe src="https://calendar.google.com/calendar/embed?src=h5kn174cpgm126mkgiuva0hn94%40group.calendar.google.com&ctz=America/Sao_Paulo" style="border:0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
    </div>
    <div class="tab-pane fade" id="notes"><app-notes></app-notes></div>
    <div class="tab-pane fade" id="tasks"><app-tasks></app-tasks></div>
  </div>
</div>
